.searchBar {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}

.filmList::after {
    content: "";
    flex: auto;
}

.filmList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filmListLine {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}